{erl_opts, 
    [
        debug_info,
        {src_dirs, ["src", "src/helpers"]}]}.

%% Without this, "Callback info about the amoc_scenario behaviour is not available" errors dialyzer
{dialyzer, [{warnings, [no_undefined_callbacks]}]}.


{xref_checks,[
    %% enable most checks, but avoid 'unused calls' which makes amoc-arsenal fail...
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{deps, [    
            {amoc,              {git, "git://github.com/esl/amoc.git", {tag, "1.2.1"}}}
        ]}.

{relx, [
    {release, {amoc_arsenal_xmpp, "0.1.0"}, [amoc_arsenal_xmpp]},
    {dev_mode, false},
    {include_src, false}
    ]}.
    
