{ erl_opts, [
    debug_info
]}.

{ deps, [
    {amoc, {git, "https://github.com/esl/amoc", {branch, "amoc_core"}}},
    {exometer_core, {git, "https://github.com/esl/exometer_core.git", {branch, "master"}}},
    {exometer_report_graphite, {git, "https://github.com/esl/exometer_report_graphite.git", {branch, "master"}}},
    %% when updating amoc_rest version, don't forget to update it at ./doc/http-api.md as well.
    {amoc_rest, {git, "https://github.com/esl/amoc_rest.git", {tag, "1.1.1"}}},
    {docsh, "0.7.2"},
    {escalus, "4.2.7"},
    {jiffy, "1.1.1"},
    {fusco, "0.1.1"}
]}.

{ dialyzer, [
    {plt_extra_apps, [amoc, fusco, ranch, gun, cowboy, jsx, exml, escalus]}
]}.

{ xref_checks, [
    %% enable most checks, but avoid 'unused calls' which makes amoc-arsenal fail...
    undefined_function_calls, undefined_functions, locals_not_used,
    deprecated_function_calls, deprecated_functions
]}.

{ relx, [
    {release, {amoc_arsenal_xmpp, {git, short}}, [amoc_arsenal_xmpp, runtime_tools]},
    {debug_info, keep},
    {dev_mode, false},
    {extended_start_script, true},
    {sys_config, "rel/app.config"}
  ]}.
