{erl_opts, [debug_info,
            {parse_transform, lager_transform}]}.

{deps, [{escalus, {git, "https://github.com/esl/escalus.git", {ref, "5794d0a"}}},
        {amoc, {git, "https://github.com/esl/amoc", {ref, "aef3454"}}}]}.

{xref_checks,[
              %% enable most checks, but avoid 'unused calls' which makes amoc-arsenal fail...
              undefined_function_calls, undefined_functions, locals_not_used,
              deprecated_function_calls, deprecated_functions
             ]}.

{relx, [
        {release, {amoc_arsenal_xmpp, {git, short}}, [amoc_arsenal_xmpp]},
        {dev_mode, false},
        {include_src, false},
        {include_erts, true},
        {extended_start_script, true}
    ]}.

