%% -*-erlang-*-
[
    {kernel, [
        {logger,
         [{handler, default, logger_std_h,
           #{
               formatter => {logger_formatter, #{template => [time, " [", level, "] ", msg, "\n"]}}
           }},
          {handler, log_to_file, logger_std_h,
           #{
               config => #{file => "log/console.log"},
               formatter => {logger_formatter, #{template => [time, " [", level, "] ", msg, "\n"]}}
           }}
         ]}]},
    {ssl, [{session_cb, amoc_always_null_ssl_session_cache}]},
    {amoc_arsenal,
     [{predefined_metrics, [{times, connection},
                            {counters, connections},
                            {counters, connection_retries},
                            {counters, connection_failures}]}
     ]}
].
