%% -*-erlang-*-

[
    {kernel, [
        {logger,
         [{handler, log_to_console, logger_std_h,
           #{
               formatter => {logger_formatter, #{template => [time, " [", level, "] ", msg, "\n"]}}
           }},
          {handler, log_to_file, logger_std_h,
           #{
               config => #{file => "log/console.log"},
               formatter => {logger_formatter, #{template => [time, " [", level, "] ", msg, "\n"]}}
           }}
         ]}]},
    {amoc, [{metrics_preconfigured, [{times, connection},
                                     {counters, connections},
                                     {counters, connection_failures}]},
            {messages_spiral_name, messages_sent},
            {message_ttd_histogram_name, message_ttd},
            {config_verification_modules,[amoc_config_validation]}]},
    {ssl, [{session_cb, amoc_always_null_ssl_session_cache}]}
]   .

